<app-mat-tab-nav-bar></app-mat-tab-nav-bar>

<div class="tabs-header">
  <button
    mat-button
    (click)="
      open( 'Feature A', '/tabs/feature-a')
    "
  >
    Feature A
  </button>
  <button
    mat-button
    (click)="
      open( 'Feature B', '/tabs/feature-b')
    "
  >
    Feature B
  </button>
  <button
    mat-button
    (click)="
      open( 'Feature C', '/tabs/feature-c')
    "
  >
    Feature C
  </button>
</div>

<mat-tab-group
  [(selectedIndex)]="activeIndex"
  (selectedIndexChange)="onActiveChange($event)"
>
  <mat-tab *ngFor="let tab of tabs; index as i; trackBy:trackByFn">
    <ng-template mat-tab-label>
      <div class="custom-mat-tab-header-wrapper">
        <span
        >{{ tab.title }}</span
        >
        <button
          mat-icon-button
          (click)="$event.stopPropagation(); canCLoseTab(tab,i)"
          aria-label="Close tab"
        >
          <mat-icon>close</mat-icon>
        </button>
        <span
          class="example-drag-tabs-preview"
          *cdkDragPreview
        >{{ tab.title }}</span
        >
      </div>
    </ng-template>
    <app-material-tab-content
      [tabKey]="tab.key"
      [componentData]="tab.data"
      [componentType]="tab.component"
    ></app-material-tab-content>
  </mat-tab>
</mat-tab-group>
