#left-btn {
  background: transparent;
  border: none;
  z-index: 1;
  height: 36px;
  padding-left: 2px !important;
  //background: linear-gradient(to right, rgba(0, 0, 0, 0.25), #0c0c0c00);
}

#right-btn {
  background: transparent;
  border: none;
  z-index: 1;
  height: 36px;
  padding-right: 2px !important;
  //background: linear-gradient(to left, rgba(0, 0, 0, 0.25), #0c0c0c00);
}

.tabs-page-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  .tabs-wrapper {
    flex-grow: 1;
    width: 100%;
    overflow-x: auto;
  }
}
