<app-navbar></app-navbar>
<div dir="ltr">
  <nav mat-tab-nav-bar
       class="mat-tab-nav-bar example-list"
       cdkDropList
       [cdkDropListData]="tabs"
       cdkDropListOrientation="horizontal"
       (cdkDropListDropped)="drop($event)">

    <a mat-tab-link
       *ngFor="let tab of tabs; index as i; trackBy:trackByFn"
       cdkDrag
       [id]="i"
       [tabIndex]="i"
       (click)="selectTab(tab, i)"
       [active]="activeTab === tab">

      {{ tab.title }}
      <button
        mat-icon-button
        (click)="$event.stopPropagation(); canCLoseTab(tab, i)"
        aria-label="Close tab"
      >
        <mat-icon>close</mat-icon>
      </button>

    </a>
    <div [id]="activeTab.key" *cdkDragPlaceholder class="tab-placeholder">
    </div>

  </nav>
</div>

<app-material-tab-content
  *ngFor="let tab of tabs; index as i; trackBy:trackByFn"
  [ngClass]="tab && activeTab && tab.key === activeTab.key ? '' : 'hidden-tab'"
  [tabKey]="tab.key"
  [componentData]="tab.data"
  [componentType]="tab.component"
></app-material-tab-content>

