/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.example-drag-tabs.cdk-drop-list-dragging {
  pointer-events: none;
}

.example-drag-tabs-preview.cdk-drag-animating {
  transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-mdc-tab.example-drag-tabs-preview {
  outline: dashed 1px #ccc;
  border-radius: 8px;
  outline-offset: 4px;
}

.example-drag-tabs .cdk-drag-placeholder {
  opacity: 0.5;
}

.custom-mat-tab-header-wrapper{
  display: flex;
  align-items: center;
  gap: 8px;
}

.mat-mdc-icon-button{
  z-index: 11 !important;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0.5;
}
