/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 8px 12px;
}

.mat-mdc-icon-button {
  z-index: 11 !important;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0.5;
}


.mat-tab-nav-bar {

  /* 2. Style the placeholder (The empty space left behind) */
  .cdk-drag-placeholder {
    opacity: 0;
  }

  /* 3. Animate the other tabs sliding out of the way */
  .cdk-drop-list-dragging .mat-tab-link:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  /* 4. Optional: Add a grab cursor so users know it's draggable */
  .mat-tab-link {
    cursor: grab;
  }

  .mat-tab-link:active {
    cursor: grabbing;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.hidden-tab {
  display: none !important;
}

.chrome-tabs {
  border-bottom: 1px solid #c6c6c6;

  .mat-tab-links {
    display: flex;
    align-items: flex-end;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none !important;
    }

  }

  .mat-tab-link {
    height: 36px;
    padding: 0 16px;
    min-width: unset !important;
    width: max-content;
    overflow: visible;

    background: #e8eaed;
    border: 1px solid #c6c6c6;
    border-bottom: none;

    border-radius: 8px 8px 0 0;
    color: #444;
    font-size: 13px;

    opacity: 1; // override Material default
    transition: background 0.2s;
  }

  /* Hover */
  .mat-tab-link:hover:not(.mat-tab-label-active) {
    background: #dde1e6;
  }

  /* Active tab (Chrome look) */
  .mat-tab-label-active {
    background: #ffffff;
    font-weight: 500;
    //height: 42px;

    .close {
      color: #ffffff;
    }
  }

  .close {
    opacity: 0.6;
    cursor: pointer;
    color: #262626;
    font-size: 16px;
    margin-left: 8px;
    width: 16px;
    height: 16px;
  }

  .close:hover {
    opacity: 1;
  }

  /* Remove ink bar */
  .mat-ink-bar {
    display: none !important;
  }

  .tab-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    line-height: normal;
  }

}

.mat-tab-links {
  scroll-behavior: smooth;
  gap: 2px;
  padding-right: 2px;
  padding-left: 2px;

  & > .mat-tab-link {
    background: #e4e8f1;
    padding-left: 0 !important;
    border: 1px solid #c1c1c1;
    border-bottom: none;
    border-radius: 8px 8px 0 0; /* rounded top corners */
    transition: background 0.3s, box-shadow 0.3s;

    &:hover {
      background: #f8f9fa;
    }

    &::after {
      display: none !important;
    }

    &.mat-tab-label-active {
      background: #0f41aeb8;
      color: #fff;
    }
  }

}

.custom-preview {
  padding: 8px 12px;
  width: max-content;
  overflow: visible;
  background: #e8eaed;
  border: 1px solid #c6c6c6;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  color: #444;
  font-size: 13px;
  opacity: 1;
  transition: background 0.2s;
}

.custom-preview-active {
  padding: 8px 12px;
  width: max-content;
  overflow: visible;
  border: 1px solid #c6c6c6;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  font-size: 13px;
  opacity: 1;
  transition: background 0.2s;
  background: #0f41aeb8;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.15);
  color: #fff;
}
