<button mat-button (click)="createTab()">add tab</button>

<nav mat-tab-nav-bar
     class="mat-tab-nav-bar example-list"
     cdkDropList
     cdkDropListOrientation="horizontal"
     (cdkDropListDropped)="drop($event)">

  <a mat-tab-link
     *ngFor="let tab of tabs"
     cdkDrag
     (click)="selectTab(tab)"
     [active]="activeTab === tab">

    {{ tab.label }}
    <button
      mat-icon-button
      (click)="$event.stopPropagation(); closeTab(tab)"
      aria-label="Close tab"
    >
      <mat-icon>close</mat-icon>
    </button>

  </a>
  <div *cdkDragPlaceholder class="tab-placeholder">
  </div>

</nav>

<ng-template *ngIf="tabs.length">
  <div class="tab-content-container">
    <div class="p-3">
      <h3>{{ activeTab.label }}</h3>
      <p>{{ activeTab.content }}</p>
    </div>
  </div>
</ng-template>
